.dashboard{
    padding:20px;
}

.dashboard h1{
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

.card{
    background:#fff;
    border-radius:12px;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.card h3{
    margin-bottom:10px;
    font-size:16px;
}

.card span{
    font-size:28px;
    font-weight:bold;
}

.ventas{
    border-left:5px solid #10b981;
}

.gastos{
    border-left:5px solid #ef4444;
}

.ganancias{
    border-left:5px solid #3b82f6;
}

.inventario{
    border-left:5px solid #f59e0b;
}

.alerta{
    border-left:5px solid #dc2626;
}

.clientes{
    border-left:5px solid #8b5cf6;
}

.paneles{
    margin-top:30px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.panel{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#1e293b;
    color:white;
    padding:10px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

@media(max-width:768px){

    .paneles{
        grid-template-columns:1fr;
    }

}